/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /*Common feature*/

    .c_title {
        margin: 50px 0 20px;
    }

    /*Common feature*/

    /*Header Start*/

    header{
        margin: 15px 5px 0;
        padding: 0 15px 0;
    }

    .h-nav-tog {
        background-color: white;
    }

    .h-btn {
        margin-bottom: 15px;
        padding: 9px 12px;
    }

    .h-nav-lo {
        width: 30%;
    }

    /*Header end*/

    /*Banner start*/

    .banner {
        padding: 120px 0 50px;
    }

    .b_text {
        text-align: center;
    }

    .b_h1 {
        font-size: 25px;
    }

    .b_h5 {
        margin: 0 0 30px;
    }

    /*Banner end*/

    /*About Us start*/

    .about_Us {
        padding: 0 0 50px;
    }

    .abu_text {
        text-align: center;
    }

    .abu_img img {
        border-radius: 30px;
    }

    /*About Us end*/

    /*Our Services start*/

    .our_ser {
        padding: 0 0 50px;
    }

    .ouse_img {
        width: 100%;
    }

    .ouse_item {
        padding: 30px 18px;
    }

    .ouse_par {
        margin: 10px 0 25px;
    }

    .ouse_spa {
        margin-bottom: 30px;
    }

    .ouse_it_tit h2 {
        font-size: 24px;
    }

    /*Our Services end*/

    /*Special Features start*/

    .spec_feat {
        padding: 0 0 50px;
    }

    .spf_item_i {
        margin: 0 0 30px 32%;
    }

    .spf_item_text{
        text-align: center;
    }

    /*Special Features end*/

    /*Testimonial start*/

    .test_content {
        padding: 0 0 50px;
    }

    .test_oi {
        margin: 0;
    }

    /*Testimonial end*/

    /*Support start*/

    .support {
        padding: 0 0 50px;
    }

    .su_title p {
        width: 100%;
    }

    .su_info_p {
        margin-left: 0;
    }

    .su_info{
        text-align: center;
    }

    .su_from {
        margin: 20px 0 20px;
    }

    /*Support end*/

    /*Footer start*/

    footer{
        padding: 0 0 50px;
    }

    .f_item {
        margin-bottom: 35px;
    }

    .f_item {
        text-align: center;
    }

    .f_title h4::before {
        transform: translate(-50%);
        left: 50%;
    }


    .f_cor_i a i {
        margin-right: 5px;
    }

    .f_btn {
        width: 100%;
        padding: 10px 20px;
    }

    /*Footer end*/
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    
    /*Common feature*/

    .c_title {
        margin: 70px 0 30px;
    }

    /*Common feature*/

    /*Header Start*/

    header{
        margin: 15px 20px 0;
        padding: 0 15px 0;
    }

    .h-nav-tog {
        background-color: white;
    }

    .h-btn {
        margin-bottom: 15px;
        padding: 9px 12px;
    }

    .h-nav-lo {
        width: 20%;
    }

    /*Header end*/

    /*Banner start*/

    .banner {
        padding: 135px 0 70px;
    }

    .b_text {
        text-align: center;
    }

    .b_h5 {
        margin: 0 0 30px;
    }

    /*Banner end*/

    /*About Us start*/

    .about_Us {
        padding: 0 0 70px;
    }

    .abu_text {
        text-align: center;
    }

    .abu_img img {
        border-radius: 30px;
    }

    /*About Us end*/

    /*Our Services start*/

    .our_ser {
        padding: 0 0 70px;
    }

    .ouse_img {
        width: 100%;
    }

    .ouse_item {
        padding: 30px 18px;
    }

    .ouse_spa {
        margin-bottom: 30px;
    }

    .ouse_it_tit h2 {
        font-size: 24px;
    }

    /*Our Services end*/

    /*Special Features start*/

    .spec_feat {
        padding: 0 0 70px;
    }

    .spf_item_i {
        margin: 0 0 30px 40%;
    }

    .spf_item_text{
        margin: 0 25%;
        text-align: center;
    }

    /*Special Features end*/

    /*Testimonial start*/

    .test_content {
        padding: 0 0 70px;
    }

    .test_oi {
        margin: 0;
    }

    /*Testimonial end*/

    /*Support start*/

    .support {
        padding: 0 0 70px;
    }

    .su_title p {
        width: 65%;
    }

    .su_info_p {
        margin-left: 0;
    }

    .su_info{
        text-align: center;
    }

    .su_from {
        margin: 0 0 30px;
    }

    /*Support end*/

    /*Footer start*/

    footer{
        padding: 0 0 35px;
    }

    .f_item {
        margin-bottom: 35px;
    }

    .f_item {
        text-align: center;
    }

    .f_title h4::before {
        transform: translate(-50%);
        left: 50%;
    }


    .f_cor_i a i {
        margin-right: 5px;
    }

    .f_btn {
        padding: 10px 98px;
    }

    /*Footer end*/


}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

    /*Common feature*/

    .c_title {
        margin: 80px 0 40px;
    }

    /*Common feature*/

    /*Header Start*/

    header{
        padding: 0 15px 0;
    }

    .h-nav-tog {
        background-color: white;
    }

    .h-btn {
        margin-bottom: 15px;
        padding: 9px 12px;
    }

    .h-nav-lo {
        width: 16%;
    }

    /*Header end*/

    /*Banner start*/

    .banner {
        padding: 140px 0 80px;
    }

    .b_text {
        margin: 0 60px;
        text-align: center;
    }

    /*Banner end*/

    /*About Us start*/

    .about_Us {
        padding: 0 0 80px;
    }

    .abu_img img {
        border-radius: 30px;
    }

    /*About Us end*/

    /*Our Services start*/

    .our_ser {
        padding: 0 0 80px;
    }

    .ouse_img {
        width: 100%;
    }

    .ouse_item {
        padding: 30px 18px;
    }

    .ouse_it_tit h2 {
        font-size: 24px;
    }

    /*Our Services end*/

    /*Special Features start*/

    .spec_feat {
        padding: 0 0 80px;
    }

    .spf_item_i {
        margin: 0 0 30px 42%;
    }

    .spf_item_text{
        margin: 0 30%;
        text-align: center;
    }

    /*Special Features end*/

    /*Testimonial start*/

    .test_content {
        padding: 0 0 80px;
    }

    .test_oi {
        margin: 0 2px;
    }

    /*Testimonial end*/

    /*Support start*/

    .support {
        padding: 0 0 80px;
    }

    .su_title p {
        width: 50%;
    }

    .su_from {
        margin: 0 0 30px;
    }

    /*Support end*/

    /*Footer start*/

    footer{
        padding-bottom: 80px;
    }

    .f_cor_i a i {
        margin-right: 5px;
    }

    /*Footer end*/
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    /*Header Start*/

    header{
        padding: 0 15px 0;
    }

    .h-btn {
        padding: 9px 12px;
    }

    .h-nav-lo {
        width: 12%;
    }

    /*Header end*/

    /*banner start*/

    .banner {
        padding: 125px 0 100px;
    }

    /*banner end*/

    /*Our Services start*/

    .ouse_img {
        width: 100%;
    }

    .ouse_item {
        padding: 30px 18px;
    }

    /*Our Services end*/

    /*Special Features start*/

    .spf_item_i {
        margin-left: 0;
    }

    /*Special Features end*/

    /*Testimonial start*/

    .test_oi {
        margin-right: 0;
    }

    /*Testimonial end*/

    /*Support start*/

    .su_contact {
        padding: 32px 20px;
    }

    .su_info_title i {
        color: var(--ye);
        font-size: 15px;
    }

    .su_info_title h5 {
        margin-left: 0;
        font-size: 16px;
    }

    .su_info_p {
        margin-left: 20px;
    }

    .su_info p {
        font-size: 15px;
    }


    /*Support end*/
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /*Header Start*/

    header{
        padding: 0 15px 0;
    }

    /*Header end*/
}

/*Extra extra large devices (large desktops, 1400px and up)*/
@media (min-width: 1400px) {
    /*Header Start*/

    header{
        padding: 0 15px 0;
    }

    /*Header end*/
}